<h1>Héroes de <small>Marvel y DC</small></h1>
<hr>

<div class="card-columns">

    <div class="card card animated fadeIn fast" *ngFor="let heroes of heroes; let i = index">
        <img [src]="heroes.img" width="50" height="50" [alt]="heroes.nombre" class="card-img-top img-fluid">
        <div class="card-block">
            <h4 class="card-title">{{ heroes.nombre }}</h4>
            <p class="card-text">{{ heroes.bio }}</p>
            <p class="card-text"><small class="text-muted">{{ heroes.aparicion }}</small></p>

            <button (click)="verHeroe(i)" class="btn btn-outline-primary btn-block">
                Ver más...
            </button>
            <!-- <a [routerLink]="['/heroe/',i]" class="btn btn-outline-primary" >Ver más...</a> -->

        </div>
    </div>

</div>

<!-- Formas de navergar
    1       +Usando un botón
    1.1.    Crear nueva ruta en app.routes
    1.2.    Añadir routerLink en <a>: <a [routerLink]="['/heroe/',i]">Ver más...</a>
    1.3.    { path: 'heroe/:id', component: HeroeComponent }, //recibe ID

    2.- link

-->