<h1>Héroes de <small>Marvel y DC</small></h1>
<hr>

<div class="card-columns">

    <div class="card">
        <img src="assets/img/spiderman.png" width="50" height="50" alt="Card image cap" class="card-img-top img-fluid">
        <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This card has supporting text below as a natural</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

            <button class="btn btn-outline-primary btn-block">
                Ver más...
            </button>

        </div>
    </div>

</div>